*{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.logo{
	width: 300px;
	background: url('../img/logo300.png');
	height: 60px;
	margin: 0 auto;
}

@media(max-width:400px){

}
@media(min-width:640px){

}
@media(min-width:768px){

}
@media(min-width:1200px){}